.addLdpModal {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  &__box {
    position: relative;
    width: 90%;
    max-width: 400px;
    background: #fff;
    margin: 20vh auto 0;
    border-radius: 12px;
    overflow: hidden;
    padding: 15px 20px 20px 20px;
    p {
      text-align: center;
      font-style: italic;
      color: red;
      font-size: 14px;
    }
  }
  &__title {
    font-size: 24px;
    margin-bottom: 15px;
  }
  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    width: 25px;
    height: 25px;
  }
  &__close > img {
    width: 100%;
    height: auto;
    display: block;
  }
  &__body {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    select,
    input {
      font-size: 14px;
      width: 100%;
      padding: 7px 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      outline: none;
    }
  }
  &__footer {
    display: flex;

    justify-content: flex-end;
    button {
      border-radius: 20px;
      border: none;
      padding: 7px 20px;
      cursor: pointer;
      color: #1961d3;
      background: #fff;
      font-size: 16px;
      transition: all 0.2s linear;
      &:hover {
        background: #f5f8fd;
      }
    }
  }
}
