.prPagi {
    li:hover {
        background: linear-gradient(to right, #2a7cd6, #0ea5ed) !important;
    }
}
.knPagi {
    li:hover {
        background: linear-gradient(to right, #fb4b14, #ff6618) !important;
    }
}
.daPagi {
    li:hover {
        background: #37a59f !important;
    }
}
.hhPagi {
    li:hover {
        background: #cb6da8 !important;
    }
}
